body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #F2F2F2;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-button {
  background-color: #20a8b4;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

header h1 {
  flex: 1;
  color: #20a8b4;
}

header h1 a {
  color: #ff5c0f;
}

.highlight {
  color: #ff5c0f;
}


.centered button {
  background-color: #20a8b4;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #ff5c0f;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ff5c0f;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
}

.centered p{
  margin-left: 10px;
}

nav {
  display: flex;
}

.right-image {
  display: none;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: left;
  }

  nav a {
    padding-right: 20px;
  }

  nav button {
    margin-right: 30px;
  }

  nav ul {
    flex: 1;
  }

  .header-button {
    width: auto;
  }

  .centered {
    text-align: center;
    align-items: center;
  }

  .centered p {
    margin-left: 10px;
  }

  .centered button {
    margin-left: 20px;
    width: auto;
  }

  .code-image {
    width: 100px;
    margin-left: 20px;
  }

  main {
    display: flex;
    align-items: center;
  }

  .right-image {
    display: block;
    max-width: 30%;
    height: auto; 
  }
}